Auto-populate a blank IC database (SQL Server) with live well data from the OGA.

<b>Part 1. Download the following data types, reformat for IC and export to .csv</b>

Exploration and Development well headers

In [1]:
import numpy as np
import pandas as pd
from pandas import ExcelFile
from pandas import ExcelWriter
import pprint
import copy
import os

# %pprint
# pp = pprint.PrettyPrinter(indent=10)

In [2]:
pd.__version__

'1.0.1'

In [3]:
# Change Pandas display settings to show all columns
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
#pd.set_option('max_colwidth', None)
pd.set_option('display.max_rows', 500)

In [4]:
# IC database folder
dbdir = 'C:\ICData\Test3'

# Data folder
outdir = '{}\output_data'.format(dbdir)

# Create data folder within IC database folder
if not os.path.exists(outdir):
    os.mkdir(outdir)

In [5]:
# Create function to save dataframe to oudir and return header

def output_to_csv(outname, df):

    filepath = '{}\{}.csv'.format(outdir, outname)
    print('Saved to:', filepath)
    
    df.to_csv(filepath, index=False, encoding='utf-8-sig')

    return pd.read_csv(filepath).head(3)

# Example: output_to_csv(outname='IC_wellbore_exploration_all', df=df_oga)

In [6]:
# Uncomment your chosen data source -
    # web: select to download data live from NPD FactPages using parameterized query strings (see https://factpages.npd.no/factpages/Parameters.aspx)
    # file: select if you have manually downloaded data in Excel format and saved to 'input data' folder 

data_source = 'web'
#data_source = 'file'

# Download data, reformat for IC and output to .csv
    
## Well Headers

In [62]:
# Download the latest OGA well headers in CSV format
# Navigate to ?

if data_source == 'web':
    df_oga = pd.read_csv('https://opendata.arcgis.com/datasets/076b55481ee1413483bfff704e397c12_0.csv?outSR=%7B%22latestWkid%22%3A4230%2C%22wkid%22%3A4230%7D')
if data_source == 'file':
    df_oga = pd.read_excel('OGA_Wells_ED50.csv')

# Print the original column titles in dataframe
print("\nWell header column titles:")
print(list(df_oga.columns))

Well header column titles:
['X', 'Y', 'OBJECTID', 'WELLREGNO', 'TOPHOLEYDD', 'TOPHOLEXDD', 'COUNTRYCOD', 'BLOCKSUFFI', 'PLATFORM', 'PRIMARYTAR', 'SLOTNO', 'WELLSUFFIX', 'NAME', 'ORIGINTENT', 'DATUMTYPE', 'SPUDDATE', 'DATETDREAC', 'COMPLEDATE', 'COMPLESTAT', 'FLOWCLASS', 'PARENTROLE', 'TOPHOLEDTM', 'OTHERCLASS', 'DEVTYPE', 'DENNO', 'PPRSWELLNO', 'WELLSYMBOL', 'REGOWNED', 'QUADRANTNO', 'BLOCKNO', 'DRILLSEQNO', 'WELLSEQ', 'CURRWELLINT', 'DATELEV_M', 'DATELEV_F', 'GRNDELEV_M', 'GRNDELEV_F', 'WATDEP_M', 'WATDEP_F', 'RELEASEDAT', 'RELEASENO', 'RELEASED', 'TDDEPDATTY', 'TDTVDSSM', 'TDTVDSSF', 'TDMDDEPM', 'TDMDDEPF', 'TDDATDEP_M', 'TDDATDEP_F', 'SUBAREAOP', 'WELLALIAS', 'ORIGOPNAME', 'COMPOP', 'LICCONFPER', 'LICNO', 'LICTYPE', 'PARENTWELL', 'WELLORIGIN', 'ORIGINSTAT', 'DEVIATTYP', 'SUBSEAWELL', 'WELLCONVEN', 'TOPHOLEYGE', 'TOPHOLEXGE', 'TOPHOLEYNG', 'TOPHOLEXNG', 'WELLINFO']

C:\Users\LBHAWZ\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (56) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
(num_oga_rows, num_oga_cols) = df_oga.shape
print('{} rows and {} columns'.format(num_oga_rows, num_oga_cols))

12327 rows and 67 columns

In [12]:
print('Exploration and Development well headers:')
df_oga.head(3)

Exploration and Development well headers:

          X          Y  OBJECTID   WELLREGNO  TOPHOLEYDD  TOPHOLEXDD COUNTRYCOD BLOCKSUFFI PLATFORM PRIMARYTAR SLOTNO WELLSUFFIX NAME ORIGINTENT DATUMTYPE                  SPUDDATE                DATETDREAC                COMPLEDATE COMPLESTAT FLOWCLASS PARENTROLE TOPHOLEDTM OTHERCLASS DEVTYPE    DENNO PPRSWELLNO  WELLSYMBOL REGOWNED  QUADRANTNO  BLOCKNO  DRILLSEQNO WELLSEQ  CURRWELLINT  DATELEV_M  DATELEV_F  GRNDELEV_M  GRNDELEV_F  WATDEP_M  WATDEP_F RELEASEDAT  RELEASENO RELEASED TDDEPDATTY   TDTVDSSM    TDTVDSSF   TDMDDEPM  TDMDDEPF  TDDATDEP_M  TDDATDEP_F                 SUBAREAOP WELLALIAS ORIGOPNAME                    COMPOP  LICCONFPER   LICNO LICTYPE PARENTWELL WELLORIGIN      ORIGINSTAT DEVIATTYP SUBSEAWELL WELLCONVEN      TOPHOLEYGE      TOPHOLEXGE  TOPHOLEYNG  TOPHOLEXNG                                      WELLINFO
0  1.172725  57.472517         1   22/16- 6Z   57.472517    1.172725    SEAWARD        NaN      NaN         FZ    NaN          Z  NaN          A        RT  2015-03-02T00:00:00.000Z  2015-04-19T00:00:00.000Z  2015-04-28T00:00:00.000Z        AB3        DH  SIDETRACK      ED 50        NaN     NaN  24419.0        NaN         4.0      NaN        22.0     16.0         6.0     WB2    APPRAISAL      45.72      150.0         NaN         NaN   92.9640     305.0        NaN        NaN    False         RT  4526.5848  14851.0005  5044.4400   16550.0       45.72       150.0  NEPTUNE E&P UKCS LIMITED       NaN        NaN  NEPTUNE E&P UKCS LIMITED         NaN  1799.0       P   22/16- 6   22/16- 6  DECOMMISSIONED  DEVIATED        NaN        NaN  057 28 21.060N  001 10 21.810E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/
1  1.172725  57.472517         2   22/16- 6Y   57.472517    1.172725    SEAWARD        NaN      NaN         6Y    NaN          Y  NaN          A        RT  2015-04-28T00:00:00.000Z  2015-05-11T00:00:00.000Z  2015-05-29T00:00:00.000Z        AB3        DH  SIDETRACK      ED 50        NaN     NaN  24419.0        NaN         4.0      NaN        22.0     16.0         6.0     WB3    APPRAISAL      45.72      150.0         NaN         NaN   92.9640     305.0        NaN        NaN    False         RT  4256.5320  13965.0000  4633.8744   15203.0       45.72       150.0  NEPTUNE E&P UKCS LIMITED       NaN        NaN  NEPTUNE E&P UKCS LIMITED         NaN  1799.0       P  22/16- 6Z   22/16- 6  DECOMMISSIONED  DEVIATED        NaN        NaN  057 28 21.060N  001 10 21.810E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/
2  1.460067  57.236631         3  22/23c- 8Z   57.236631    1.460067    SEAWARD          c      NaN          H    NaN          Z  NaN          E        RT  2013-06-02T00:00:00.000Z  2013-06-17T00:00:00.000Z  2013-07-05T00:00:00.000Z        AB3      UNKW  SIDETRACK      ED 50         JW     NaN  23808.0        NaN        14.0      NaN        22.0     23.0         8.0     WB2  EXPLORATION      45.72      150.0         NaN         NaN   95.7072     314.0        NaN        NaN    False         RT  3399.4344  11153.0004  3654.2472   11989.0       45.72       150.0  NEPTUNE E&P UKCS LIMITED       NaN        NaN  NEPTUNE E&P UKCS LIMITED         NaN  1805.0       P  22/23c- 8  22/23c- 8  DECOMMISSIONED  DEVIATED        NaN        NaN  057 14 11.870N  001 27 36.240E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/

In [32]:
# Is OBJECTID viable as a UWI?
# Check for duplicate values

df_oga['OBJECTID'].duplicated().any()

False

In [69]:
# Print out all unique values for selected attributes (example: COUNTRYCOD, PARENTROLE)

def lstheaderfields (*args):
    for arg in args:
        vals = [x for x in df_oga[arg].unique()]
        print(arg, vals)
        print('')

# Enter the column names to check
lstheaderfields('COUNTRYCOD', 'BLOCKSUFFI', 'WELLSUFFIX', 'ORIGINTENT', 'DATUMTYPE', 'FLOWCLASS', 'COMPLESTAT', 'PARENTROLE', 'TOPHOLEDTM', 'OTHERCLASS', 'DEVTYPE', 'WELLSYMBOL', 'CURRWELLINT', 'ORIGINSTAT', 'DEVIATTYP')

COUNTRYCOD ['SEAWARD', 'M']

BLOCKSUFFI [nan, 'c', 'a', 'b', 'd', 'e', 'f', 'g']

WELLSUFFIX ['Z', 'Y', 'X', 'A', nan, 'W', 'R', 'V', 'B', 'T', 'U', 'Q', 'C', 'S', 'L', 'M', 'N', 'O', 'P', 'K', 'J', 'D', 'G']

ORIGINTENT ['A', 'E', 'D']

DATUMTYPE ['RT', 'KB', 'MSL', nan]

FLOWCLASS ['DH', 'UNKW', 'OW', 'CWGS', 'GW', 'GWOS', 'OS', 'GOW', nan, 'GCW', 'OGS', 'GS', 'OWGS', 'CWOS', 'OCW', 'OWCS', 'GOCW', 'GCS', 'CWOG', 'HI', 'OSCS']

COMPLESTAT ['AB3', 'COMPLETED_OPERATING', 'COMPLETED_SHUT_IN', 'PLUGGED', 'AB1', 'AB2', 'DRILLING']

PARENTROLE ['SIDETRACK', 'RESPUD', 'REDRILL', nan]

TOPHOLEDTM ['ED 50', nan, 'ETRS89', 'WGS 1984', 'OSGB 1936']

OTHERCLASS [nan, 'JW', 'DR', 'OBSW', 'S', 'WDW', 'RW']

DEVTYPE [nan, 'PRODUCER', 'INJECTOR', 'DISPOSAL', 'OTHER']

WELLSYMBOL [4.0, 14.0, 8.0, 36.0, 6.0, 19.0, 18.0, 13.0, 10.0, 2.0, 7.0, 12.0, 16.0, 27.0, 1.0, nan, 9.0, 38.0, 35.0, 5.0, 11.0, 24.0, 17.0, 30.0, 23.0, 31.0, 26.0, 33.0, 25.0, 28.0, 21.0, 32.0]

CURRWELLINT ['APPRAISAL', 'EXPLORATION', 'DEVELOPMENT']

ORIGINSTAT ['DECOMMISSIONED', 'PRESENT', 'DEROGATED', 'PLANNED', nan]

DEVIATTYP ['DEVIATED', 'VERTICAL', 'HORIZONTAL', nan]

In [42]:
df_oga_explo = df_oga[df_oga['CURRWELLINT'] == 'EXPLORATION']
df_oga_explo.head()

           X          Y  OBJECTID   WELLREGNO  TOPHOLEYDD  TOPHOLEXDD COUNTRYCOD BLOCKSUFFI PLATFORM PRIMARYTAR SLOTNO WELLSUFFIX NAME ORIGINTENT DATUMTYPE                  SPUDDATE                DATETDREAC                COMPLEDATE COMPLESTAT FLOWCLASS PARENTROLE TOPHOLEDTM OTHERCLASS DEVTYPE    DENNO PPRSWELLNO  WELLSYMBOL REGOWNED  QUADRANTNO  BLOCKNO  DRILLSEQNO WELLSEQ  CURRWELLINT  DATELEV_M  DATELEV_F  GRNDELEV_M  GRNDELEV_F  WATDEP_M  WATDEP_F RELEASEDAT  RELEASENO RELEASED TDDEPDATTY   TDTVDSSM    TDTVDSSF   TDMDDEPM    TDMDDEPF  TDDATDEP_M  TDDATDEP_F                 SUBAREAOP WELLALIAS ORIGOPNAME                    COMPOP  LICCONFPER   LICNO LICTYPE  PARENTWELL WELLORIGIN      ORIGINSTAT DEVIATTYP SUBSEAWELL WELLCONVEN      TOPHOLEYGE      TOPHOLEXGE  TOPHOLEYNG  TOPHOLEXNG                                      WELLINFO
2   1.460067  57.236631         3  22/23c- 8Z   57.236631    1.460067    SEAWARD          c      NaN          H    NaN          Z  NaN          E        RT  2013-06-02T00:00:00.000Z  2013-06-17T00:00:00.000Z  2013-07-05T00:00:00.000Z        AB3      UNKW  SIDETRACK      ED 50         JW     NaN  23808.0        NaN        14.0      NaN        22.0     23.0         8.0     WB2  EXPLORATION    45.7200      150.0         NaN         NaN   95.7072     314.0        NaN        NaN    False         RT  3399.4344  11153.0004  3654.2472  11989.0000     45.7200       150.0  NEPTUNE E&P UKCS LIMITED       NaN        NaN  NEPTUNE E&P UKCS LIMITED         NaN  1805.0       P   22/23c- 8  22/23c- 8  DECOMMISSIONED  DEVIATED        NaN        NaN  057 14 11.870N  001 27 36.240E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/
3   1.460067  57.236631         4  22/23c- 8X   57.236631    1.460067    SEAWARD          c      NaN          H    NaN          X  NaN          E        RT  2013-08-11T00:00:00.000Z  2013-08-26T00:00:00.000Z  2013-09-11T00:00:00.000Z        AB3        DH  SIDETRACK      ED 50        NaN     NaN  23808.0        NaN         4.0      NaN        22.0     23.0         8.0     WB4  EXPLORATION    45.7200      150.0         NaN         NaN   95.7072     314.0        NaN        NaN    False         RT  4062.9840  13330.0000  4181.8560  13720.0005     45.7200       150.0  NEPTUNE E&P UKCS LIMITED       NaN        NaN  NEPTUNE E&P UKCS LIMITED         NaN  1805.0       P  22/23c- 8Y  22/23c- 8  DECOMMISSIONED  DEVIATED        NaN        NaN  057 14 11.870N  001 27 36.240E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/
4   1.460067  57.236631         5  22/23c- 8Y   57.236631    1.460067    SEAWARD          c      NaN          H    NaN          Y  NaN          E        RT  2013-07-05T00:00:00.000Z  2013-07-26T00:00:00.000Z  2013-08-11T00:00:00.000Z        AB3      UNKW  SIDETRACK      ED 50         JW     NaN  23808.0        NaN        14.0      NaN        22.0     23.0         8.0     WB3  EXPLORATION    45.7200      150.0         NaN         NaN   95.7072     314.0        NaN        NaN    False         RT  3734.7144  12253.0004  3800.8560  12470.0000     45.7200       150.0  NEPTUNE E&P UKCS LIMITED       NaN        NaN  NEPTUNE E&P UKCS LIMITED         NaN  1805.0       P  22/23c- 8Z  22/23c- 8  DECOMMISSIONED  DEVIATED        NaN        NaN  057 14 11.870N  001 27 36.240E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/
13  1.405331  54.362667        14  43/18a- 2Z   54.362667    1.405331    SEAWARD          a      NaN          B    NaN          Z  NaN          E        RT  2013-05-19T00:00:00.000Z  2013-05-25T00:00:00.000Z  2013-06-06T00:00:00.000Z        AB3        DH  SIDETRACK      ED 50         JW     NaN  23811.0        NaN        14.0      NaN        43.0     18.0         2.0     WB2  EXPLORATION    39.0144      128.0         NaN         NaN   36.8808     121.0        NaN        NaN    False         RT  1830.0192   6004.0002  2199.4368   7216.0000     39.0144       128.0      INEOS UK SNS LIMITED       NaN        NaN      INEOS UK SNS LIMITED         NaN  1726.0       P   43/18a- 2  43/18a- 2  DECOMMISSIONED  VERTICAL        NaN        NaN  054 21 45.600N  001 24 19.190E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/
14  1.405331  54.362667        15  43/18a- 2Y   54.362667    1.405331    SEAWARD          a      NaN          B    NaN          Y  NaN          E        RT  2013-06-06T00:00:00.000Z  2013-07-14T00:00:00.000Z  2013-07-24T00:00:00.000Z        AB3        DH  SIDETRACK      ED 50        NaN     NaN  23811.0        NaN         4.0      NaN        43.0     18.0         2.0     WB3  EXPLORATION    39.0144      128.0         NaN         NaN   36.8808     121.0        NaN        NaN    False         RT  3510.0768  11516.0000  3550.9200  11650.0000     39.0144       128.0      INEOS UK SNS LIMITED       NaN        NaN      INEOS UK SNS LIMITED         NaN  1726.0       P  43/18a- 2Z  43/18a- 2  DECOMMISSIONED  VERTICAL        NaN        NaN  054 21 45.600N  001 24 19.190E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/

In [48]:
# Need to split RT and KB values out into separate columns?

In [50]:
# What is well symbol based on?

df_oga_explo[['FLOWCLASS', 'WELLSYMBOL']].head(20)

   FLOWCLASS  WELLSYMBOL
2       UNKW        14.0
3         DH         4.0
4       UNKW        14.0
13        DH        14.0
14        DH         4.0
18        DH         4.0
23        DH        14.0
24        GW         6.0
25        GW         6.0
26        DH        14.0
30      GWOS        10.0
31        DH         4.0
35        DH         4.0
38        OS         7.0
39       GOW        12.0
40        OS         7.0
41        DH         4.0
42        OW         8.0
43        GW        18.0
44        GW         6.0

In [54]:
df_oga_explo[['DATUMTYPE', 'DATELEV_M']]

      DATUMTYPE  DATELEV_M
2            RT    45.7200
3            RT    45.7200
4            RT    45.7200
13           RT    39.0144
14           RT    39.0144
...         ...        ...
12322        RT    45.7200
12323        RT    45.4152
12324        RT    45.7200
12325        RT    45.7200
12326        KB   129.6900

[2772 rows x 2 columns]

### Rename attributes for IC

In [12]:
# These are IC's default well header attributes (when matching columns in Import Well Header File)
# Try to use as many of these as possible when renaming below.
# Any other columns will need to be added to IC as Well Attributes.

ic_default_attributes = {'Name', 'Code', 'Alternate 1', 'Alternate 2', 'API number', 'UWI number', 'Comment', 'Geodatum', 
                         'Longitude', 'Latitude', 'Grid system', 'Surface X', 'Surface Y', 'Elevation Reference',
                         'Elevation', 'KBE', 'RTE', 'DFE', 'GLE', 'SPUD date', 'Completion date', 'Status', 
                         'Quadrant', 'Block', 'Sub block', 'Field', 'Location', 'Operator', 'Country',
                         'Basin', 'Province', 'County', 'State', 'Section', 'Township', 'Range', 'Terminal depth',
                         'Water depth', 'Facility', 'Discovery name', 'Seismic line', 'Intent', 'Licence number'}

{
                         'Grid system', 'Surface X', 'Surface Y', 
                         'Elevation',  'Status', 
                         'Sub block', 'Field', 'Location', 'Operator', 'Country',
                         'Basin', 'Province', 'County', 'State', 'Section', 'Township', 'Range', 'Terminal depth',
                         'Facility', 'Discovery name', 'Seismic line', 'Intent', 'Licence number'}

# Rename columns from/to. 
# Check spelling and capitalisation carefully when renaming to match IC's default attributes.

attributes_to_rename = {'X' : 'Latitude',
                        'Y' : 'Longitude',
                        'OBJECTID' : 'UWI number', #Code
                        'WELLREGNO' : 'Name',
                        'SPUDDATE': 'SPUD date', 
                        'COMPLEDATE': 'Completion date', 
                        'TOPHOLEDTM': 'Geodatum', 
                        '': '', 
                        '': '', 
                        '': '', 
                        'DATUMTYPE': 'Elevation Reference', 
                        '': '', 
                        'QUADRANTNO': 'Quadrant', 
                        'BLOCKNO': 'Block',
                        '': '', 
                        '': '', 
                        '': '', 
                        'WATDEP_M': 'Water depth', 
                        '': '', 
                       }



'TOPHOLEYDD', 
'TOPHOLEXDD', 
'COUNTRYCOD', 
'BLOCKSUFFI', 
'PLATFORM', 
'PRIMARYTAR', 
'SLOTNO', 
'WELLSUFFIX', 
'NAME', 
'ORIGINTENT', 
'DATUMTYPE', 
'SPUDDATE', 
'DATETDREAC', 
'COMPLEDATE', 
'COMPLESTAT', 
'FLOWCLASS', 
'PARENTROLE', 
'TOPHOLEDTM', 
'OTHERCLASS', 
'DEVTYPE', 
'DENNO', 
'PPRSWELLNO', 
'WELLSYMBOL', 
'REGOWNED', 
'QUADRANTNO', 
'BLOCKNO', 
'DRILLSEQNO', 
'WELLSEQ', 
'CURRWELLINT', 
'DATELEV_M', 
'DATELEV_F', 
'GRNDELEV_M', 
'GRNDELEV_F', 
'WATDEP_M', 
'WATDEP_F', 
'RELEASEDAT', 
'RELEASENO', 
'RELEASED', 
'TDDEPDATTY', 
'TDTVDSSM', 
'TDTVDSSF', 
'TDMDDEPM', 
'TDMDDEPF', 
'TDDATDEP_M', 
'TDDATDEP_F', 
'SUBAREAOP', 
'WELLALIAS', 
'ORIGOPNAME', 
'COMPOP', 
'LICCONFPER', 
'LICNO', 
'LICTYPE', 
'PARENTWELL', 
'WELLORIGIN', 
'ORIGINSTAT', 
'DEVIATTYP', 
'SUBSEAWELL', 
'WELLCONVEN', 
'TOPHOLEYGE', 
'TOPHOLEXGE', 
'TOPHOLEYNG', 
'TOPHOLEXNG', 
'WELLINFO'



# Apply renaming to each of the dataframes
df_oga.rename(columns=attributes_to_rename, inplace=True)
df_dev.rename(columns=attributes_to_rename, inplace=True)

# QC only renamed columns
print("Renamed attributes only:")
renamed_columns = list(attributes_to_rename.values())
df_oga[renamed_columns].head(3)
#df_dev[renamed_columns].head(3)

Renamed attributes only:

    Name Alternate 1                     Operator Licence number   Intent Intent - planned Well status Well content  SPUD date Completion date Discovery name                              Seismic line   KBE  Terminal depth  Water depth  Kick off point [m RKB]   Location     Facility 1st level with HC formation 1st level with HC age 2nd level with HC formation 2nd level with HC age 3rd level with HC formation 3rd level with HC age Geodatum   Latitude  Longitude   Surface Y  Surface X  Quadrant  Block                                  Press Release URL                                       FactPage URL                                       FactMaps URL
0  1/2-1       1/2-1  Phillips Petroleum Norsk AS           143   WILDCAT          WILDCAT         P&A          OIL 1989-03-20      1989-06-04    1/2-1 Blane                   PW 8303A - 10   SP. 290  22.0          3574.0         72.0                     NaN  NORTH SEA    ROSS ISLE                  FORTIES FM             PALEOCENE                         NaN                   NaN                                                     ED50    56.887519   2.476583  6305128.26  468106.29         1      2                                                     https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...
1  1/2-2       1/2-2   Paladin Resources Norge AS         143 CS  WILDCAT          WILDCAT         P&A    OIL SHOWS 2005-12-14      2006-02-02           None  inline 7429-trace 4824 Survey PGS CGMNOR  40.0          3434.0         74.0                     NaN  NORTH SEA  MÆRSK GIANT                         NaN                   NaN                         NaN                   NaN                                                     ED50    56.992222   2.496572  6316774.33  469410.10         1      2  https://www.npd.no/fakta/nyheter/Resultat-av-l...  https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...
2  1/3-1       1/3-1             A/S Norske Shell           011   WILDCAT          WILDCAT         P&A          GAS 1968-07-06      1968-11-11          1/3-1                       LINE 5651  SP. E165  26.0          4877.0         71.0                     NaN  NORTH SEA        ORION                      TOR FM       LATE CRETACEOUS             CROMER KNOLL GP      EARLY CRETACEOUS                                                     ED50    56.855833   2.851389  6301488.86  490936.87         1      3                                                     https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...

In [67]:
df_oga.head()

          X          Y  OBJECTID   WELLREGNO  TOPHOLEYDD  TOPHOLEXDD COUNTRYCOD BLOCKSUFFI PLATFORM PRIMARYTAR SLOTNO WELLSUFFIX NAME ORIGINTENT DATUMTYPE                  SPUDDATE                DATETDREAC                COMPLEDATE COMPLESTAT FLOWCLASS PARENTROLE TOPHOLEDTM OTHERCLASS DEVTYPE    DENNO PPRSWELLNO  WELLSYMBOL REGOWNED  QUADRANTNO  BLOCKNO  DRILLSEQNO WELLSEQ  CURRWELLINT  GRNDELEV_M  GRNDELEV_F  WATDEP_M  WATDEP_F RELEASEDAT  RELEASENO RELEASED TDDEPDATTY   TDTVDSSM    TDTVDSSF   TDMDDEPM    TDMDDEPF  TDDATDEP_M  TDDATDEP_F                 SUBAREAOP WELLALIAS ORIGOPNAME                    COMPOP  LICCONFPER   LICNO LICTYPE  PARENTWELL WELLORIGIN      ORIGINSTAT DEVIATTYP SUBSEAWELL WELLCONVEN      TOPHOLEYGE      TOPHOLEXGE  TOPHOLEYNG  TOPHOLEXNG                                      WELLINFO    RTE  KBE
0  1.172725  57.472517         1   22/16- 6Z   57.472517    1.172725    SEAWARD        NaN      NaN         FZ    NaN          Z  NaN          A        RT  2015-03-02T00:00:00.000Z  2015-04-19T00:00:00.000Z  2015-04-28T00:00:00.000Z        AB3        DH  SIDETRACK      ED 50        NaN     NaN  24419.0        NaN         4.0      NaN        22.0     16.0         6.0     WB2    APPRAISAL         NaN         NaN   92.9640     305.0        NaN        NaN    False         RT  4526.5848  14851.0005  5044.4400  16550.0000       45.72       150.0  NEPTUNE E&P UKCS LIMITED       NaN        NaN  NEPTUNE E&P UKCS LIMITED         NaN  1799.0       P    22/16- 6   22/16- 6  DECOMMISSIONED  DEVIATED        NaN        NaN  057 28 21.060N  001 10 21.810E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/  45.72  NaN
1  1.172725  57.472517         2   22/16- 6Y   57.472517    1.172725    SEAWARD        NaN      NaN         6Y    NaN          Y  NaN          A        RT  2015-04-28T00:00:00.000Z  2015-05-11T00:00:00.000Z  2015-05-29T00:00:00.000Z        AB3        DH  SIDETRACK      ED 50        NaN     NaN  24419.0        NaN         4.0      NaN        22.0     16.0         6.0     WB3    APPRAISAL         NaN         NaN   92.9640     305.0        NaN        NaN    False         RT  4256.5320  13965.0000  4633.8744  15203.0000       45.72       150.0  NEPTUNE E&P UKCS LIMITED       NaN        NaN  NEPTUNE E&P UKCS LIMITED         NaN  1799.0       P   22/16- 6Z   22/16- 6  DECOMMISSIONED  DEVIATED        NaN        NaN  057 28 21.060N  001 10 21.810E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/  45.72  NaN
2  1.460067  57.236631         3  22/23c- 8Z   57.236631    1.460067    SEAWARD          c      NaN          H    NaN          Z  NaN          E        RT  2013-06-02T00:00:00.000Z  2013-06-17T00:00:00.000Z  2013-07-05T00:00:00.000Z        AB3      UNKW  SIDETRACK      ED 50         JW     NaN  23808.0        NaN        14.0      NaN        22.0     23.0         8.0     WB2  EXPLORATION         NaN         NaN   95.7072     314.0        NaN        NaN    False         RT  3399.4344  11153.0004  3654.2472  11989.0000       45.72       150.0  NEPTUNE E&P UKCS LIMITED       NaN        NaN  NEPTUNE E&P UKCS LIMITED         NaN  1805.0       P   22/23c- 8  22/23c- 8  DECOMMISSIONED  DEVIATED        NaN        NaN  057 14 11.870N  001 27 36.240E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/  45.72  NaN
3  1.460067  57.236631         4  22/23c- 8X   57.236631    1.460067    SEAWARD          c      NaN          H    NaN          X  NaN          E        RT  2013-08-11T00:00:00.000Z  2013-08-26T00:00:00.000Z  2013-09-11T00:00:00.000Z        AB3        DH  SIDETRACK      ED 50        NaN     NaN  23808.0        NaN         4.0      NaN        22.0     23.0         8.0     WB4  EXPLORATION         NaN         NaN   95.7072     314.0        NaN        NaN    False         RT  4062.9840  13330.0000  4181.8560  13720.0005       45.72       150.0  NEPTUNE E&P UKCS LIMITED       NaN        NaN  NEPTUNE E&P UKCS LIMITED         NaN  1805.0       P  22/23c- 8Y  22/23c- 8  DECOMMISSIONED  DEVIATED        NaN        NaN  057 14 11.870N  001 27 36.240E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/  45.72  NaN
4  1.460067  57.236631         5  22/23c- 8Y   57.236631    1.460067    SEAWARD          c      NaN          H    NaN          Y  NaN          E        RT  2013-07-05T00:00:00.000Z  2013-07-26T00:00:00.000Z  2013-08-11T00:00:00.000Z        AB3      UNKW  SIDETRACK      ED 50         JW     NaN  23808.0        NaN        14.0      NaN        22.0     23.0         8.0     WB3  EXPLORATION         NaN         NaN   95.7072     314.0        NaN        NaN    False         RT  3734.7144  12253.0004  3800.8560  12470.0000       45.72       150.0  NEPTUNE E&P UKCS LIMITED       NaN        NaN  NEPTUNE E&P UKCS LIMITED         NaN  1805.0       P  22/23c- 8Z  22/23c- 8  DECOMMISSIONED  DEVIATED        NaN        NaN  057 14 11.870N  001 27 36.240E         NaN         NaN  http://data.ogauthority.opendata.arcgis.com/  45.72  NaN

In [ ]:
#Columns we don't need in iC
COUNTRYCOD
BLOCKSUFFI
PLATFORM
PRIMARYTAR
SLOTNO
WELLSUFFIX
NAME
DATETDREAC

In [63]:
# Separate DATUMTYPE values out into separate columns, RTE and KBE
for index, row in df_oga.iterrows():
    if row['Reference Elevation'] == 'RT':
        df_oga.loc[index, 'RTE'] = row['DATELEV_M']
    elif row['Reference Elevation'] == 'KB':
        df_oga.loc[index, 'KBE'] = row['DATELEV_M']
    else:
        pass
    
# Drop columns DATELEV_M, DATELEV_F
df_oga.drop(['DATELEV_M', 'DATELEV_F'], axis=1, inplace=True)

df_oga['TOPHOLEDTM'] = 'ED50'

In [65]:
df_oga[['RTE', 'KBE']]

           RTE     KBE
0      45.7200     NaN
1      45.7200     NaN
2      45.7200     NaN
3      45.7200     NaN
4      45.7200     NaN
...        ...     ...
12322  45.7200     NaN
12323  45.4152     NaN
12324  45.7200     NaN
12325  45.7200     NaN
12326      NaN  129.69

[12327 rows x 2 columns]

### Delete attributes containing duplicate data

In [13]:
# Coordinates are repeated elsewhere so we can delete the component parts from the dataframes.
# And we've renamed Wellbore name parts 1 and 2 to Quadrant and Block, and do not need the other parts.

attributes_to_drop = ['Plot symbol', 'NS degrees', 'NS minutes', 'NS seconds', 'NS code', 'EW degrees', 'EW minutes', 'EW seconds', 'EW code', 
                      'Wellbore name, part 3', 'Wellbore name, part 4', 'Wellbore name, part 5', 'Wellbore name, part 6']

df_oga.drop(attributes_to_drop, axis=1, inplace=True)
df_dev.drop(attributes_to_drop, axis=1, inplace=True)

print('Prove we still have well names and coordinates:')
df_oga[['Name', 'Latitude', 'Longitude', 'Surface Y', 'Surface X']].head(3)

Prove we still have well names and coordinates:

    Name   Latitude  Longitude   Surface Y  Surface X
0  1/2-1  56.887519   2.476583  6305128.26  468106.29
1  1/2-2  56.992222   2.496572  6316774.33  469410.10
2  1/3-1  56.855833   2.851389  6301488.86  490936.87

### Truncate well list based on column and value(s)

In [14]:
# Enter the column and values you want to return, e.g. Location: BARENTS SEA, or Quadrant: 6204, 6205.
fltr_column = 'Location'

# List the names you want to *KEEP*!
fltr_value = ['NORTH SEA', 'NORWEGIAN SEA', 'BARENTS SEA']

# Apply the filter to the dataframes
indexNames = df_oga[~df_oga[fltr_column].isin(fltr_value)].index
df_oga.drop(indexNames , inplace=True)

indexNames = df_dev[~df_dev[fltr_column].isin(fltr_value)].index
df_dev.drop(indexNames , inplace=True)

# Get dataframe shape and unpack tuples
(exploRows, exploCols) = df_oga.shape
(devRows, devCols) = df_dev.shape

# Print out the results
print("After filtering on {}: {}, you are left with:\n {} rows for Exploration wells, and {} rows for Development wells."
      .format(fltr_column, fltr_value, exploRows, devRows))
print('The first and last rows are:')

# Print the first and last rows of the Exploration dataframe to check that the filter has worked
df_oga.iloc[[0, -1]]

After filtering on Location: ['NORTH SEA', 'NORWEGIAN SEA', 'BARENTS SEA'], you are left with:
 1930 rows for Exploration wells, and 5152 rows for Development wells.
The first and last rows are:

           Name Alternate 1                     Operator Licence number   Intent Well status Well content         Type Subsea  SPUD date Completion date  Field Drill permit         Discovery name Discovery wellbore  Bottom hole temperature [°C] Sitesurvey                          Seismic line  Maximum inclination [°]   KBE  Final vertical depth (TVD) [m RKB]  Terminal depth  Water depth  Kick off point [m RKB] Oldest penetrated age Oldest penetrated formation     Location       Facility Drilling facility type Drilling facility category Licensing activity awarded in Multilateral Intent - planned  Entry year  Completed year Reclassified from/to wellbore Reentry activity 1st level with HC formation 1st level with HC age 2nd level with HC formation 2nd level with HC age 3rd level with HC formation 3rd level with HC age  Drilling days Reentry  Prod. licence for drilling target Plugged and abondon date Plugged date Geodatum   Latitude  Longitude   Surface Y  Surface X  UTM zone  Quadrant  Block                                  Press Release URL                                       FactPage URL                                       FactMaps URL      DISKOS Well Type                    DISKOS Wellbore Parent Publication date Release date Reclassified date  NPDID wellbore  NPDID discovery  NPDID field  NPDID drilling facility  NPDID wellbore reclassified from  NPDID production licence drilled in  NPDID site survey Date main level updated Date all updated Date sync NPD
0         1/2-1       1/2-1  Phillips Petroleum Norsk AS           143   WILDCAT         P&A          OIL  EXPLORATION     NO 1989-03-20      1989-06-04  BLANE        604-L            1/2-1 Blane                YES                         147.0       None               PW 8303A - 10   SP. 290                      2.0  22.0                                 NaN          3574.0         72.0                     NaN  CAMPANIAN                   TOR FM                  NORTH SEA      ROSS ISLE          SEMISUB STEEL                   MOVEABLE                            12           NO          WILDCAT        1989            1989                          None             None                  FORTIES FM             PALEOCENE                         NaN                   NaN                                                               77      NO                                NaN                      NaT          NaT   ED50    56.887519   2.476583  6305128.26  468106.29        31         1      2                                                     https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...  initial                                                              2007-12-19   1991-06-04               NaT            1382          43814.0    3437650.0                 296245.0                                 0                              21956.0                NaN              2019-10-03       2019-10-03    09.02.2020
1929  7435/12-1   7435/12-1         Statoil Petroleum AS           859   WILDCAT         P&A          GAS  EXPLORATION     NO 2017-08-09      2017-09-01   None       1667-L  7435/12-1 (Korpfjell)                YES                          54.0       None  ST14005T15: Inline 7833. X-Line 7829                      3.1  32.0                              1539.0          1540.0        253.0                     NaN  MIDDLE TRIASSIC             KOBBE FM              BARENTS SEA  SONGA ENABLER          SEMISUB STEEL                   MOVEABLE                            23           NO          WILDCAT        2017            2017                          None             None                      STØ FM       MIDDLE JURASSIC                    KOBBE FM       MIDDLE TRIASSIC                                                               24      NO                                NaN                      NaT          NaT   ED50    74.071725  35.808628  8222886.96  402277.88        37      7435     12  https://www.npd.no/fakta/nyheter/Resultat-av-l...  https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...  initial                                                              2019-09-01   2019-09-01               NaT            8228       29491696.0          NaN                 439972.0                                 0                           28169055.0                NaN              2019-12-07       2019-12-07    09.02.2020

### CREATE FILES - create Reference files for IC containing URLs for Explo and Dev wells

In [15]:
# Converts three URL columns into three rows. Adds a Title column and sorts by Well and Title.
df_oga_references = df_oga[['Name', 'NPDID wellbore', 'Press Release URL', 'FactPage URL', 'FactMaps URL']]
df_oga_references = pd.melt(df_oga_references, id_vars=['Name', 'NPDID wellbore'], value_vars=['Press Release URL', 'FactPage URL', 'FactMaps URL'], var_name='Title', value_name='URL')
df_oga_references.sort_values(['Name', 'Title'], inplace=True)

# Remove empty rows, specifically where no 'Press Release URL' for Exploration references
df_oga_references['URL'].replace(' ', np.nan, inplace=True)
df_oga_references.dropna(subset=['URL'], inplace=True)

# Name and create file for Exploration wells
output_to_csv(outname='IC_explo_references', df=df_oga_references)

Saved to: C:\ICData\Test3\output_data\IC_explo_references.csv

    Name  NPDID wellbore         Title                                                URL
0  1/2-1            1382  FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...
1  1/2-1            1382  FactPage URL  https://factpages.npd.no/factpages/default.asp...
2  1/2-2            5192  FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...

In [16]:
# As above, but creates 'Reference' file for Development Wells (minus the Press Release URL)
df_dev_references = df_dev[['Name', 'NPDID wellbore', 'FactPage URL', 'FactMaps URL']]
df_dev_references = pd.melt(df_dev_references, id_vars=['Name', 'NPDID wellbore'], 
                            value_vars=['FactPage URL', 'FactMaps URL'], 
                            var_name='Title', value_name='URL')
df_dev_references.sort_values(['Name', 'Title'], inplace=True)

# Name and create file for Development wells
output_to_csv(outname='IC_dev_references', df=df_dev_references)

Saved to: C:\ICData\Test3\output_data\IC_dev_references.csv

        Name  NPDID wellbore         Title                                                URL
0  1/3-A-1 H            6612  FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...
1  1/3-A-1 H            6612  FactPage URL  https://factpages.npd.no/factpages/default.asp...
2  1/3-A-2 H            6613  FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...

In [17]:
# Drop URL attributes
# Now that we've output the URLs to separate files, we no longer need them in the Exploration and Development dataframes.
df_oga.drop(['Press Release URL', 'FactPage URL', 'FactMaps URL'], axis=1, inplace=True)
df_dev.drop(['FactPage URL', 'FactMaps URL'], axis=1, inplace=True)

df_oga.head(3)

    Name Alternate 1                     Operator Licence number   Intent Well status Well content         Type Subsea  SPUD date Completion date  Field Drill permit Discovery name Discovery wellbore  Bottom hole temperature [°C] Sitesurvey                              Seismic line  Maximum inclination [°]   KBE  Final vertical depth (TVD) [m RKB]  Terminal depth  Water depth  Kick off point [m RKB] Oldest penetrated age Oldest penetrated formation   Location     Facility Drilling facility type Drilling facility category Licensing activity awarded in Multilateral Intent - planned  Entry year  Completed year Reclassified from/to wellbore Reentry activity 1st level with HC formation 1st level with HC age 2nd level with HC formation 2nd level with HC age 3rd level with HC formation 3rd level with HC age  Drilling days Reentry  Prod. licence for drilling target Plugged and abondon date Plugged date Geodatum   Latitude  Longitude   Surface Y  Surface X  UTM zone  Quadrant  Block      DISKOS Well Type                    DISKOS Wellbore Parent Publication date Release date Reclassified date  NPDID wellbore  NPDID discovery  NPDID field  NPDID drilling facility  NPDID wellbore reclassified from  NPDID production licence drilled in  NPDID site survey Date main level updated Date all updated Date sync NPD
0  1/2-1       1/2-1  Phillips Petroleum Norsk AS           143   WILDCAT         P&A          OIL  EXPLORATION     NO 1989-03-20      1989-06-04  BLANE        604-L    1/2-1 Blane                YES                         147.0       None                   PW 8303A - 10   SP. 290                      2.0  22.0                                 NaN          3574.0         72.0                     NaN  CAMPANIAN                   TOR FM                NORTH SEA    ROSS ISLE          SEMISUB STEEL                   MOVEABLE                            12           NO          WILDCAT        1989            1989                          None             None                  FORTIES FM             PALEOCENE                         NaN                   NaN                                                               77      NO                                NaN                      NaT          NaT   ED50    56.887519   2.476583  6305128.26  468106.29        31         1      2  initial                                                              2007-12-19   1991-06-04               NaT            1382          43814.0    3437650.0                 296245.0                                 0                              21956.0                NaN              2019-10-03       2019-10-03    09.02.2020
1  1/2-2       1/2-2   Paladin Resources Norge AS         143 CS  WILDCAT         P&A    OIL SHOWS  EXPLORATION     NO 2005-12-14      2006-02-02   None       1103-L           None                 NO                         138.0       None  inline 7429-trace 4824 Survey PGS CGMNOR                      4.9  40.0                              3432.0          3434.0         74.0                     NaN  PALEOCENE                   EKOFISK FM            NORTH SEA  MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE                            12           NO          WILDCAT        2005            2006                          None             None                         NaN                   NaN                         NaN                   NaN                                                               51      NO                                NaN                      NaT          NaT   ED50    56.992222   2.496572  6316774.33  469410.10        31         1      2  initial                                                              2008-08-15   2008-02-02               NaT            5192              NaN          NaN                 278245.0                                 0                            2424919.0                NaN              2019-10-03       2019-10-03    09.02.2020
2  1/3-1       1/3-1             A/S Norske Shell           011   WILDCAT         P&A          GAS  EXPLORATION     NO 1968-07-06      1968-11-11   None         15-L          1/3-1                YES                         182.0       None                       LINE 5651  SP. E165                     18.0  26.0                                 NaN          4877.0         71.0                     NaN  LATE PERMIAN                ZECHSTEIN GP          NORTH SEA        ORION         JACK-UP 3 LEGS                   MOVEABLE                           1-A           NO          WILDCAT        1968            1968                          None             None                      TOR FM       LATE CRETACEOUS             CROMER KNOLL GP      EARLY CRETACEOUS                                                              129      NO                                NaN                      NaT          NaT   ED50    56.855833   2.851389  6301488.86  490936.87        31         1      3  initial                                                              2010-04-30   1970-11-11               NaT             154          43820.0          NaN                 288604.0                                 0                              20844.0                NaN              2019-10-03       2019-10-03    09.02.2020

In [18]:
# Add new column(s) and assign constant value, e.g. Country: NORWAY.
df_oga['Country'] = 'NORWAY' 
df_dev['Country'] = 'NORWAY'

# IC Version 4.3.1 and earlier only. Fixed in 4.3.2.
# First lets rename an extraordinarily long string in column 'Seismic line' to avoid an error in IC.
#df_oga['Seismic line'] = df_oga['Seismic line'].replace('TUN15M01 3D bin datasett: Inline reference: 12688 Croslline reference: between 12383 and 12384', 'TUN15M01 3D bin: Inline 12688 Crossline 12383-12384')

# Remove decimal places introduced to the 'NPDIP' columns
df_oga['NPDID discovery'] = df_oga['NPDID discovery'].fillna(0).astype(int)
df_dev['NPDID discovery'] = df_dev['NPDID discovery'].fillna(0).astype(int)

df_oga['NPDID drilling facility'] = df_oga['NPDID drilling facility'].fillna(0).astype(int)
df_dev['NPDID drilling facility'] = df_dev['NPDID drilling facility'].fillna(0).astype(int)

df_oga['NPDID field'] = df_oga['NPDID field'].fillna(0).astype(int)
df_dev['NPDID field'] = df_dev['NPDID field'].fillna(0).astype(int)

# Copy data from one column to another, preserving the original.
df_oga['UWI number'] = df_oga['NPDID wellbore']
df_dev['UWI number'] = df_dev['NPDID wellbore']

# Check the result
df_oga[['Name', 'Country', 'NPDID drilling facility', 'NPDID wellbore']].head(3)

    Name Country  NPDID drilling facility  NPDID wellbore
0  1/2-1  NORWAY                   296245            1382
1  1/2-2  NORWAY                   278245            5192
2  1/3-1  NORWAY                   288604             154

### Concatenate Well Status & Well Content to match IC's Well Symbols dictionary

In [19]:
# This cell creates a new column called 'Status', combining 'Well Status' and 'Well Content'
# These values should match IC's Well Symbols graphic dictionary entries, e.g. "P & A Oil Shows"

# Change 'P&A' to 'P & A'.
df_oga['Well status'] = df_oga['Well status'].replace(to_replace='P&A', value='P & A')
# First letter of each word capitalised
df_oga['Status'] = df_oga['Well status'].str.title() + ' ' + df_oga['Well content'].str.title()

# As above but for Development wells
df_dev['Well status'] = df_dev['Well status'].replace(to_replace='P&A', value='P & A')
df_dev['Status'] = df_dev['Well status'].str.title() + ' ' + df_dev['Well content'].str.title()

# Replace a few other things to help with matching
df_oga = df_oga.replace({'Status' : { ' Not Available' : '', ' Not Applicable' : '', '/' : ' ', 'Oil Gas ' : 'Oil & Gas '}}, regex=True)
df_dev = df_dev.replace({'Status' :     { ' Not Available' : '', ' Not Applicable' : '', '/' : ' ', 'Oil Gas ' : 'Oil & Gas '}}, regex=True)

# Rename Status to status? (links to symbol_id??? e.g. 22)

# Check the results
df_oga[['Name', 'Status']].head(n=10)
#df_dev[['Name', 'Status']].tail(n=10)

    Name                Status
0  1/2-1             P & A Oil
1  1/2-2       P & A Oil Shows
2  1/3-1             P & A Gas
3  1/3-2             P & A Dry
4  1/3-3             P & A Oil
5  1/3-4       P & A Oil Shows
6  1/3-5             P & A Dry
7  1/3-6  P & A Gas Condensate
8  1/3-7             P & A Oil
9  1/3-8           P & A Shows

In [20]:
# List all unique entries under Status for all wells.
# In IC, open Database > Graphic Dictionaries > Well Symbols, and ensure you have dictionary entries for each.

lst_explo_status = sorted(set(df_oga['Status'].astype(str)))
lst_dev_status = sorted(set(df_dev['Status'].astype(str)))

lst_all_status = lst_explo_status + lst_dev_status

print("{} unique status values to include in IC 'Well Symbols' graphic dictionary:".format(len(lst_all_status)))
print('')
lst_unique_status = sorted(set(lst_all_status))
print(', '.join(lst_unique_status))

94 unique status values to include in IC 'Well Symbols' graphic dictionary:

Blowout Gas Shows, Closed, Closed Cuttings, Closed Gas, Closed Gas Condensate, Closed Oil, Closed Oil Gas, Closed Oil Gas Condensate, Closed Water, Closed Water Gas, Injecting Co2, Injecting Cuttings, Injecting Gas, Injecting Gas Condensate, Injecting Oil, Injecting Oil Gas, Injecting Water, Injecting Water Gas, Junked, Junked Dry, Junked Oil, Junked Oil Gas, Junked Oil Gas Shows, Junked Shows, Junked Water, P & A, P & A Cuttings, P & A Dry, P & A Gas, P & A Gas Condensate, P & A Gas Shows, P & A Oil, P & A Oil Gas, P & A Oil Gas Condensate, P & A Oil Gas Shows, P & A Oil Shows, P & A Shows, P & A Water, Plugged, Plugged Cuttings, Plugged Dry, Plugged Gas, Plugged Gas Condensate, Plugged Oil, Plugged Oil Gas, Plugged Oil Gas Condensate, Plugged Water, Plugged Water Gas, Predrilled, Predrilled Gas, Producing Gas, Producing Gas Condensate, Producing Oil, Producing Oil Gas, Producing Oil Gas Condensate, Producing Water, Producing Water Gas, Re-Class To Dev Dry, Re-Class To Dev Gas, Re-Class To Dev Gas Condensate, Re-Class To Dev Oil, Re-Class To Dev Oil Gas, Re-Class To Test Oil, Re-Class To Test Oil Gas, Suspended, Suspended Dry, Suspended Gas, Suspended Gas Condensate, Suspended Gas Shows, Suspended Oil, Suspended Oil Gas, Suspended Oil Gas Shows, Suspended Oil Shows, Suspended Shows, Suspended Water, Suspended Water Gas, Will Never Be Drilled, nan

### Concatenate cells to create 'Grid system' in IC format

In [21]:
# At time of writing, there are several problems with 'Geodatum' in the NPD datasets, including:
#  - trailing spaces ('ED50 ') in all Explo wells
#  - erroneous '56ED50', '60ED50' and '61ED50' values in Dev wells
#  - missing 'ED50' values in two explo wells
# Luckily, we can just force 'ED50' on all these cells!

df_oga['Geodatum'] = 'ED50'
df_dev['Geodatum'] = 'ED50'

# Concatenate cells to create a new column 'Grid system' in IC format (e.g. "ED50 / UTM Zone 31N")

df_oga['Grid system'] = df_oga['Geodatum'] + ' / ' + 'UTM zone ' + df_oga['UTM zone'].map(str) + 'N'
df_dev['Grid system'] = df_dev['Geodatum'] + ' / ' + 'UTM zone ' + df_dev['UTM zone'].map(str) + 'N'

print('Geodatum and Grid systems for IC:')
df_oga[['Name', 'Geodatum', 'Grid system']].head(3)

Geodatum and Grid systems for IC:

    Name Geodatum          Grid system
0  1/2-1     ED50  ED50 / UTM zone 31N
1  1/2-2     ED50  ED50 / UTM zone 31N
2  1/3-1     ED50  ED50 / UTM zone 31N

### QC Well Headers

In [22]:
# Print out attributes lists, reflecting all the changes above.
# Use these lists to check the current order of your columns in each, and consider how you might like to re-order them.
# Any columns created above (including: Country, Status, Grid system) currently appear at the end of the lists.

print('--- BEFORE RE-ORDERING ---\n')
print(len(df_oga.columns), 'Exploration attributes:\n', list(df_oga.columns), '\n')
print(len(df_dev.columns), 'Development attributes:\n', list(df_dev.columns))

--- BEFORE RE-ORDERING ---

75 Exploration attributes:
 ['Name', 'Alternate 1', 'Operator', 'Licence number', 'Intent', 'Well status', 'Well content', 'Type', 'Subsea', 'SPUD date', 'Completion date', 'Field', 'Drill permit', 'Discovery name', 'Discovery wellbore', 'Bottom hole temperature [°C]', 'Sitesurvey', 'Seismic line', 'Maximum inclination [°]', 'KBE', 'Final vertical depth (TVD) [m RKB]', 'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 'Oldest penetrated age', 'Oldest penetrated formation', 'Location', 'Facility', 'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 'Multilateral', 'Intent - planned', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Reentry activity', '1st level with HC formation', '1st level with HC age', '2nd level with HC formation', '2nd level with HC age', '3rd level with HC formation', '3rd level with HC age', 'Drilling days', 'Reentry', 'Prod. licence for drilling target', 'Plugged and abondon date', 'Plugged date', 'Geodatum', 'Latitude', 'Longitude', 'Surface Y', 'Surface X', 'UTM zone', 'Quadrant', 'Block', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'Publication date', 'Release date', 'Reclassified date', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 'NPDID drilling facility', 'NPDID wellbore reclassified from', 'NPDID production licence drilled in', 'NPDID site survey', 'Date main level updated', 'Date all updated', 'Date sync NPD', 'Country', 'UWI number', 'Status', 'Grid system']

64 Development attributes:
 ['Name', 'Alternate 1', 'Operator', 'Licence number', 'Well status', 'Intent', 'Intent - planned', 'Well content', 'Type', 'Subsea', 'SPUD date', 'Completion date', 'Predrilled entry date', 'Predrilled completion date', 'Field', 'Drill permit', 'Discovery name', 'Discovery wellbore', 'KBE', 'Final vertical depth (TVD) [m RKB]', 'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 'Location', 'Facility', 'Drilling facility type', 'Drilling facility category', 'Production facility', 'Licensing activity awarded in', 'Multilateral', 'Content - planned', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Plugged and abondon date', 'Plugged date', 'Prod. licence for drilling target', 'Geodatum', 'Latitude', 'Longitude', 'Surface Y', 'Surface X', 'UTM zone', 'Quadrant', 'Block', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 'Publication date', 'Release date', 'NPDID production licence drilled in', 'NPDID production licence target', 'NPDID drilling facility', 'NPDID production facility', 'NPDID wellbore reclassified from', 'Date main level updated', 'Date all updated', 'Date sync NPD', 'Country', 'UWI number', 'Status', 'Grid system']

### Re-order all columns (OPTIONAL)

In [23]:
# # Specifies the order of columns for Exploration and Development wells in the final outputs.
# # It's not compulsory to re-order columns, as IC lists all non-default attributes alphabetically.

# explo_order = ['Name', 'Alternate 1', 'UWI number', 'Quadrant', 'Block', 'Operator', 'Licence number', 'Intent', 
#                 'Intent - planned', 'Well status', 'Well content', 'Status', 'Type', 'Subsea', 'SPUD date', 
#                 'Completion date', 'Field', 'Drill permit', 'Discovery name', 'Discovery wellbore', 
#                 'Bottom hole temperature [°C]', 'Seismic line', 'Maximum inclination [°]', 'KBE', 
#                 'Final vertical depth (TVD) [m RKB]', 'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 
#                 'Oldest penetrated age', 'Oldest penetrated formation', 'Location', 'Country', 'Facility', 
#                 'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 
#                 'Multilateral', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Reentry activity', 
#                 'Plot symbol', '1st level with HC formation', '1st level with HC age', '2nd level with HC formation', 
#                 '2nd level with HC age', '3rd level with HC formation', '3rd level with HC age', 'Drilling days', 
#                 'Reentry', 'Geodatum', 'Latitude', 'Longitude', 'Surface X', 'Surface Y', 'UTM zone', 'Grid system', 
#                 'DISKOS Well Type', 'DISKOS Wellbore Parent', 
#                 'Publication date', 'Release date', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 
#                 'NPDID drilling facility', 'NPDID wellbore reclassified from', 'NPDID production licence drilled in', 
#                 'Date main level updated', 'Date all updated', 'Date sync NPD']

# dev_order = ['Name', 'Alternate 1', 'UWI number', 'Quadrant', 'Block', 'Operator', 'Licence number', 'Intent', 
#               'Intent - planned', 'Well status', 'Well content',  'Status', 'Content - planned', 'Type', 'Subsea',
#               'SPUD date', 'Completion date', 'Field', 'Predrilled entry date','Predrilled completion date', 
#               'Drill permit', 'Discovery name', 'Discovery wellbore', 'KBE', 'Final vertical depth (TVD) [m RKB]',
#               'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 'Location', 'Country', 'Facility', 
#               'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 
#               'Production facility', 'Multilateral', 'Entry year', 'Completed year','Reclassified from/to wellbore', 
#               'Plot symbol', 'Geodatum', 'Latitude', 'Longitude', 'Surface Y', 'Surface X', 'UTM zone',  'Grid system', 
#               'DISKOS Well Type', 'DISKOS Wellbore Parent', 'NPDID wellbore', 
#               'NPDID discovery', 'NPDID field', 'Publication date', 'Release date', 'NPDID production licence drilled in', 
#               'NPDID drilling facility', 'NPDID production facility','NPDID wellbore reclassified from', 
#               'Date main level updated', 'Date all updated', 'Date sync NPD']

In [24]:
# # Check if your list of re-ordered attributes is complete.
# missing_explo = set(df_oga.columns).difference(explo_order)
# missing_dev = set(df_dev.columns).difference(dev_order)

# if len(missing_explo) > 0:
#     print('Your re-ordered list of Exploration attributes is incomplete. You must include:\n {}.\n'.format(missing_explo))
# else:
#     print('Your re-ordered list of Exploration attributes is complete.\n')
    
# if len(missing_dev) > 0:
#     print('Your re-ordered list of Development attributes is incomplete. You must include:\n {}.'.format(missing_dev))
# else:
#     print('Your re-ordered list of Development attributes is complete.')

In [25]:
# # Only when your re-ordered lists of Exploration and Development attributes are complete should you run this cell,
# # Otherwise these will not be included in the output file!
# # Applies the re-ordering to the dataframes

# df_oga = df_oga.reindex(columns=explo_order)
# df_dev = df_dev.reindex(columns=dev_order)

### QC column values

In [26]:
# Print out all unique values for selected attributes (example: Operator and Field)

def lstheaderfields (*args):
    for arg in args:
        print('---' , arg, '---')
        print('')
        words = [x for x in df_oga[arg].unique()]
        print('Exploration wells:')
        print(words)
        print('')
        words = [x for x in df_dev[arg].unique()]
        print('Development wells:')
        print(words)
        print("")
        
# Enter the names of columns you would like to check
lstheaderfields('Operator', 'Field')

--- Operator ---

Exploration wells:
['Phillips Petroleum Norsk AS', 'Paladin Resources Norge AS', 'A/S Norske Shell', 'Elf Petroleum Norge AS', 'Amoco Norway Oil Company', 'BP Norway Limited U.A.', 'DONG E&P Norge AS', 'BG Norge AS', 'Phillips Petroleum Company Norway', 'Conoco Norway Inc.', 'Amerada Hess Norge AS', 'Total E&P Norge AS', 'Den norske stats oljeselskap a.s', 'BP Petroleum Dev. of Norway AS', 'Talisman Energy Norge AS', 'Det norske oljeselskap ASA', 'Aker BP ASA', 'Saga Petroleum ASA', 'Norske Murphy Oil Company', 'Norwegian Gulf Exploration Company AS', 'Norsk Hydro Produksjon AS', 'ConocoPhillips Skandinavia AS', 'Statoil Petroleum AS', 'Norsk Agip AS', 'StatoilHydro Petroleum AS', 'Lundin Norway AS', 'MOL Norge AS', 'Faroe Petroleum Norge AS', 'Edison Norge AS', 'Elf Norge A/S', 'Premier Oil Norge AS', 'Repsol Exploration Norge AS', 'LOTOS Exploration and Production Norge AS', 'Esso Exploration and Production Norway A/S', 'Unocal Norge A/S', 'Centrica Resources (Norge) AS', 'Spirit Energy Norway AS', 'Repsol Norge AS', 'Texaco Exploration Norway AS', 'ExxonMobil Exploration and Production Norway AS', 'Wintershall Norge AS', 'Norsk Hydro Petroleum AS', 'Syracuse Oils Norge A/S', 'Statoil ASA (old)', 'Equinor Energy AS', 'StatoilHydro ASA', 'Deminex Norge AS', 'Det norske oljeselskap ASA (old)', 'Pertra AS (OLD)', 'Noil Energy ASA', 'Wintershall Norge ASA', 'BP Amoco Norge AS', 'Tullow Oil Norge AS', 'Norwegian Energy Company ASA', 'Total Norge AS', 'Marathon Petroleum Norge AS', 'Fina Production Licenses AS', 'Det Norske Oljeselskap ASA (old)', 'Wellesley Petroleum AS', 'Suncor Energy Norge AS', 'Rocksource Exploration Norway AS', 'E.ON Ruhrgas Norge AS', 'Mobil Exploration Norway INC', 'Revus Energy ASA', 'Petro-Canada Norge AS', 'Norske Conoco A/S', 'Eni Norge AS', 'RWE Dea Norge AS', 'VNG Norge (Operations) AS', 'Idemitsu Petroleum Norge AS', 'Nexen Exploration Norge AS', 'GDF SUEZ E&P Norge AS', 'Spirit Energy Norge AS', 'ENGIE E&P Norge AS', 'Maersk Oil Norway AS', 'VNG Norge AS', 'OMV (Norge) AS', 'OKEA ASA', 'Norsk Chevron AS', 'Chevron Texaco Norge AS', 'BP Norge AS', 'E.ON E&P Norge AS', 'PGNiG Upstream Norway AS', 'DNO North Sea (Norge) AS', 'Neptune Energy Norge AS', 'Capricorn Norge AS', 'Wintershall Dea Norge AS', 'Noreco Norway AS', 'Rocksource ASA', 'DEA Norge AS', 'Elf Aquitaine Norge A/S', 'Mobil Development Norway AS']

Development wells:
['DONG E&P Norge AS', 'BP Amoco Norge AS', 'Aker BP ASA', 'BP Norge AS', 'Phillips Petroleum Company Norway', 'Den norske stats oljeselskap a.s', 'BP Norway Limited U.A.', 'Talisman Energy Norge AS', 'ConocoPhillips Norge', 'ConocoPhillips Skandinavia AS', 'Amoco Norway Oil Company', 'BG Norge AS', 'Lundin Norway AS', 'Spirit Energy Norge AS', 'Elf Petroleum Norge AS', 'Statoil Petroleum AS', 'Equinor Energy AS', 'Statoil ASA (old)', 'StatoilHydro ASA', 'StatoilHydro Petroleum AS', 'Pertra AS (OLD)', 'Saga Petroleum ASA', 'Det norske oljeselskap ASA', 'Esso Exploration and Production Norway A/S', 'ExxonMobil Exploration and Production Norway AS', 'Marathon Petroleum Norge AS', 'Marathon Oil Norge AS', 'Norsk Hydro Produksjon AS', 'Norsk Hydro Petroleum AS', 'TotalFinaElf Exploration Norge AS', 'Total E&P Norge AS', 'Wintershall Norge AS', 'Wintershall Dea Norge AS', 'Mobil Exploration Norway INC', 'A/S Norske Shell', 'Neptune Energy Norge AS', 'GDF SUEZ E&P Norge AS', 'OKEA ASA', 'Vår Energi AS', 'Eni Norge AS', 'Conoco Norway Inc.', 'DEA Norge AS']

--- Field ---

Exploration wells:
['BLANE', None, 'TAMBAR', 'OSELVAR', 'FLYNDRE', 'ALBUSKJELL', 'TOMMELITEN GAMMA', 'GYDA', 'EKOFISK', 'VEST EKOFISK', 'TOR', 'ELDFISK', 'EDDA', 'EMBLA', 'VALHALL', 'HOD', 'TRYM', 'GAUPE', 'BRYNHILD', 'COD', 'MIME', 'ULA', 'ODA', 'YME', 'GUDRUN', 'GINA KROG', 'ENOCH', 'GLITNE', 'SLEIPNER VEST', 'UTGARD', 'SLEIPNER ØST', 'GUNGNE', 'VOLVE', 'VARG', 'REV', 'IVAR AASEN', 'EDVARD GRIEG', 'JOHAN SVERDRUP', 'SOLVEIG', 'SIGYN', 'ALVHEIM', 'VOLUND', 'BØYLA', 'FRIGG', 'NORDØST FRIGG', 'SKOGUL', 'ØST FRIGG', 'LILLE-FRIGG', 'FRØY', 'HEIMDAL', 'VALE', 'VILJE', 'SKIRNE', 'ATLA', 'JOTUN', 'BALDER', 'RINGHORNE ØST', 'JETTE', 'HANZ', 'GRANE', 'SVALIN', 'MARTIN LINGE', 'HULDRA', 'VESLEFRIKK', 'TUNE', 'OSEBERG', 'OSEBERG ØST', 'OSEBERG SØR', 'ODIN', 'TROLL', 'BRAGE', 'STATFJORD', 'STATFJORD ØST', 'STATFJORD NORD', 'SYGNA', 'GULLFAKS SØR', 'KNARR', 'SNORRE', 'VIGDIS', 'TORDIS', 'VISUND', 'GIMLE', 'VISUND SØR', 'GULLFAKS', 'VALEMON', 'SINDRE', 'KVITEBJØRN', 'VEGA', 'GJØA', 'NOVA', 'FRAM', 'BYRDING', 'FRAM H-NORD', 'DUVA', 'ORMEN LANGE', 'KRISTIN', 'TRESTAKK', 'ÅSGARD', 'TYRIHANS', 'MARIA', 'FENJA', 'MIKKEL', 'NJORD', 'HYME', 'BAUGE', 'DRAUGEN', 'MORVIN', 'MARULK', 'ALVE', 'SKARV', 'ÆRFUGL', 'HEIDRUN', 'DVALIN', 'YTTERGRYTA', 'NORNE', 'URD', 'SKULD', 'AASTA HANSTEEN', 'SNØHVIT', 'GOLIAT', 'JOHAN CASTBERG']

Development wells:
['OSELVAR', 'TAMBAR', 'TAMBAR ØST', 'ALBUSKJELL', 'TOMMELITEN GAMMA', 'GYDA', 'EKOFISK', 'VEST EKOFISK', 'TOR', 'ELDFISK', 'EDDA', 'EMBLA', None, 'VALHALL', 'HOD', 'TRYM', 'GAUPE', 'BRYNHILD', 'COD', 'ULA', 'ODA', 'YME', 'FRIGG', 'GUDRUN', 'GLITNE', 'GINA KROG', 'UTGARD', 'SLEIPNER ØST', 'GUNGNE', 'SLEIPNER VEST', 'VOLVE', 'VARG', 'REV', 'EDVARD GRIEG', 'IVAR AASEN', 'JOHAN SVERDRUP', 'SIGYN', 'ALVHEIM', 'BØYLA', 'VOLUND', 'NORDØST FRIGG', 'SKOGUL', 'ØST FRIGG', 'LILLE-FRIGG', 'HEIMDAL', 'VALE', 'VILJE', 'FRØY', 'SKIRNE', 'ATLA', 'JOTUN', 'BALDER', 'RINGHORNE ØST', 'JETTE', 'GRANE', 'SVALIN', 'HULDRA', 'VESLEFRIKK', 'MARTIN LINGE', 'OSEBERG', 'OSEBERG ØST', 'TUNE', 'OSEBERG SØR', 'ODIN', 'TROLL', 'TROLL BRENT B', 'BRAGE', 'STATFJORD', 'STATFJORD ØST', 'STATFJORD NORD', 'SYGNA', 'GULLFAKS SØR', 'KNARR', 'SNORRE', 'VIGDIS', 'TORDIS', 'VISUND', 'VISUND SØR', 'GULLFAKS', 'GIMLE', 'SINDRE', 'KVITEBJØRN', 'VALEMON', 'VEGA', 'GJØA', 'FRAM', 'FRAM H-NORD', 'BYRDING', 'DUVA', 'ORMEN LANGE', 'KRISTIN', 'TRESTAKK', 'TYRIHANS', 'MARIA', 'ÅSGARD', 'MIKKEL', 'NJORD', 'HYME', 'DRAUGEN', 'MORVIN', 'MARULK', 'SKARV', 'ÆRFUGL', 'ALVE', 'HEIDRUN', 'DVALIN', 'YTTERGRYTA', 'NORNE', 'URD', 'SKULD', 'AASTA HANSTEEN', 'SNØHVIT', 'GOLIAT']

### CREATE FILES - create well header files for explo and dev wells

In [27]:
# Output exploration well headers

print('{} exploration wells from {} to {}.'.format(len(df_oga), 
                                                   df_oga['Name'][df_oga.index[0]], 
                                                   df_oga['Name'][df_oga.index[-1]]))

output_to_csv(outname='IC_wellbore_exploration_all', df=df_oga)

1930 exploration wells from 1/2-1 to 7435/12-1.
Saved to: C:\ICData\Test3\output_data\IC_wellbore_exploration_all.csv

    Name Alternate 1                     Operator Licence number   Intent Well status Well content         Type Subsea   SPUD date Completion date  Field Drill permit Discovery name Discovery wellbore  Bottom hole temperature [°C] Sitesurvey                              Seismic line  Maximum inclination [°]   KBE  Final vertical depth (TVD) [m RKB]  Terminal depth  Water depth  Kick off point [m RKB] Oldest penetrated age Oldest penetrated formation   Location     Facility Drilling facility type Drilling facility category Licensing activity awarded in Multilateral Intent - planned  Entry year  Completed year Reclassified from/to wellbore Reentry activity 1st level with HC formation 1st level with HC age 2nd level with HC formation 2nd level with HC age 3rd level with HC formation 3rd level with HC age  Drilling days Reentry  Prod. licence for drilling target Plugged and abondon date Plugged date Geodatum   Latitude  Longitude   Surface Y  Surface X  UTM zone  Quadrant  Block      DISKOS Well Type                    DISKOS Wellbore Parent Publication date Release date Reclassified date  NPDID wellbore  NPDID discovery  NPDID field  NPDID drilling facility  NPDID wellbore reclassified from  NPDID production licence drilled in  NPDID site survey Date main level updated Date all updated Date sync NPD Country  UWI number           Status          Grid system
0  1/2-1       1/2-1  Phillips Petroleum Norsk AS           143   WILDCAT       P & A          OIL  EXPLORATION     NO  1989-03-20      1989-06-04  BLANE        604-L    1/2-1 Blane                YES                         147.0        NaN                   PW 8303A - 10   SP. 290                      2.0  22.0                                 NaN          3574.0         72.0                     NaN  CAMPANIAN                   TOR FM                NORTH SEA    ROSS ISLE          SEMISUB STEEL                   MOVEABLE                            12           NO          WILDCAT        1989            1989                           NaN              NaN                  FORTIES FM             PALEOCENE                         NaN                   NaN                                                               77      NO                                NaN                      NaN          NaN     ED50  56.887519   2.476583  6305128.26  468106.29        31         1      2  initial                                                              2007-12-19   1991-06-04               NaN            1382            43814      3437650                   296245                                 0                              21956.0                NaN              2019-10-03       2019-10-03    09.02.2020  NORWAY        1382        P & A Oil  ED50 / UTM zone 31N
1  1/2-2       1/2-2   Paladin Resources Norge AS         143 CS  WILDCAT       P & A    OIL SHOWS  EXPLORATION     NO  2005-12-14      2006-02-02    NaN       1103-L            NaN                 NO                         138.0        NaN  inline 7429-trace 4824 Survey PGS CGMNOR                      4.9  40.0                              3432.0          3434.0         74.0                     NaN  PALEOCENE                   EKOFISK FM            NORTH SEA  MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE                            12           NO          WILDCAT        2005            2006                           NaN              NaN                         NaN                   NaN                         NaN                   NaN                                                               51      NO                                NaN                      NaN          NaN     ED50  56.992222   2.496572  6316774.33  469410.10        31         1      2  initial                                                              2008-08-15   2008-02-02               NaN            5192                0            0                   278245                                 0                            2424919.0                NaN              2019-10-03       2019-10-03    09.02.2020  NORWAY        5192  P & A Oil Shows  ED50 / UTM zone 31N
2  1/3-1       1/3-1             A/S Norske Shell           011   WILDCAT       P & A          GAS  EXPLORATION     NO  1968-07-06      1968-11-11    NaN         15-L          1/3-1                YES                         182.0        NaN                       LINE 5651  SP. E165                     18.0  26.0                                 NaN          4877.0         71.0                     NaN  LATE PERMIAN                ZECHSTEIN GP          NORTH SEA        ORION         JACK-UP 3 LEGS                   MOVEABLE                           1-A           NO          WILDCAT        1968            1968                           NaN              NaN                      TOR FM       LATE CRETACEOUS             CROMER KNOLL GP      EARLY CRETACEOUS                                                              129      NO                                NaN                      NaN          NaN     ED50  56.855833   2.851389  6301488.86  490936.87        31         1      3  initial                                                              2010-04-30   1970-11-11               NaN             154            43820            0                   288604                                 0                              20844.0                NaN              2019-10-03       2019-10-03    09.02.2020  NORWAY         154        P & A Gas  ED50 / UTM zone 31N

In [28]:
# Output development well headers

print('{} development wells {} to {}.'.format(len(df_dev), 
                                                   df_dev['Name'][df_dev.index[0]], 
                                                   df_dev['Name'][df_dev.index[-1]]))

output_to_csv(outname='IC_wellbore_development_all', df=df_dev)

5152 development wells 1/3-A-1 H to 7122/10-I-4 H.
Saved to: C:\ICData\Test3\output_data\IC_wellbore_development_all.csv

        Name Alternate 1           Operator Licence number Well status      Intent Intent - planned Well content         Type Subsea                SPUD date          Completion date    Predrilled entry date Predrilled completion date    Field Drill permit Discovery name Discovery wellbore   KBE  Final vertical depth (TVD) [m RKB]  Terminal depth  Water depth  Kick off point [m RKB]   Location     Facility Drilling facility type Drilling facility category Production facility Licensing activity awarded in Multilateral Content - planned  Entry year  Completed year Reclassified from/to wellbore Plugged and abondon date Plugged date  Prod. licence for drilling target Geodatum   Latitude  Longitude   Surface Y  Surface X  UTM zone  Quadrant  Block      DISKOS Well Type                    DISKOS Wellbore Parent  NPDID wellbore  NPDID discovery  NPDID field Publication date             Release date  NPDID production licence drilled in  NPDID production licence target  NPDID drilling facility  NPDID production facility  NPDID wellbore reclassified from  Date main level updated         Date all updated Date sync NPD Country  UWI number      Status          Grid system
0  1/3-A-1 H     1/3-A-1  DONG E&P Norge AS           274       CLOSED  PRODUCTION       PRODUCTION          OIL  DEVELOPMENT    YES  2011-07-22 00:00:00.000  2011-09-21 00:00:00.000                      NaN                        NaN  OSELVAR       3365-P  1/3-6 Oselvar                 NO  45.0                              3163.0          5927.0         72.0                     NaN  NORTH SEA  MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE             OSELVAR                       NST2001           NO               OIL        2011            2011                           NaN                      NaN          NaN                                NaN     ED50  56.931961   2.671294  6310001.50  479994.47        31         1      3  initial                                                                   6612            43832      5506919              NaN  2013-09-21 00:00:00.000                              2060266                              NaN                   278245                   410592.0                                 0  2019-12-09 00:00:00.000  2015-10-06 00:00:00.000    09.02.2020  NORWAY        6612  Closed Oil  ED50 / UTM zone 31N
1  1/3-A-2 H     1/3-A-2  DONG E&P Norge AS           274       CLOSED  PRODUCTION       PRODUCTION          OIL  DEVELOPMENT    YES  2011-11-18 00:00:00.000  2012-01-19 00:00:00.000  2011-06-19 00:00:00.000    2011-07-04 00:00:00.000  OSELVAR       3366-P  1/3-6 Oselvar                 NO  45.0                              3170.0          5882.0         72.0                     NaN  NORTH SEA  MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE             OSELVAR                       NST2001           NO               OIL        2011            2012                           NaN                      NaN          NaN                                NaN     ED50  56.931914   2.671297  6309996.24  479994.61        31         1      3  initial                                                                   6613            43832      5506919              NaN  2014-01-19 00:00:00.000                              2060266                              NaN                   278245                   410592.0                                 0  2019-12-09 00:00:00.000  2015-10-06 00:00:00.000    09.02.2020  NORWAY        6613  Closed Oil  ED50 / UTM zone 31N
2  1/3-A-3 H     1/3-A-3  DONG E&P Norge AS           274       CLOSED  PRODUCTION       PRODUCTION          OIL  DEVELOPMENT    YES  2012-03-04 00:00:00.000  2012-05-14 00:00:00.000  2011-07-05 00:00:00.000    2011-07-21 00:00:00.000  OSELVAR       3367-P  1/3-6 Oselvar                 NO  45.0                              3171.0          6665.0         72.0                     NaN  NORTH SEA  MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE             OSELVAR                       NST2001           NO               OIL        2012            2012                           NaN                      NaN          NaN                                NaN     ED50  56.931964   2.671478  6310001.76  480005.63        31         1      3  initial                                                                   6614            43832      5506919              NaN  2014-05-14 00:00:00.000                              2060266                              NaN                   278245                   410592.0                                 0  2019-12-09 00:00:00.000  2015-10-06 00:00:00.000    09.02.2020  NORWAY        6614  Closed Oil  ED50 / UTM zone 31N

### Well Attributes to create in IC

In [29]:
# The following attributes are not IC defaults and need to be created under Wells > Attributes.
# Alternatively, use the SQL code produced in the next cell to create these rows in SSMS. 

# Find the full list of attributes after all the editing you've done above
all_attributes = set(list(df_oga.columns) + list(df_dev.columns))

# Find and count those attributes you'll need to create in IC
non_default_attributes = list(set(all_attributes).difference(ic_default_attributes))
non_default_attributes.sort()
num_non_default_attributes = len(non_default_attributes)

print('The following {} attributes are not IC defaults and must be added to IC:\n'.format(num_non_default_attributes))
print(list(non_default_attributes))

The following 55 attributes are not IC defaults and must be added to IC:

['1st level with HC age', '1st level with HC formation', '2nd level with HC age', '2nd level with HC formation', '3rd level with HC age', '3rd level with HC formation', 'Bottom hole temperature [°C]', 'Completed year', 'Content - planned', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'Date all updated', 'Date main level updated', 'Date sync NPD', 'Discovery wellbore', 'Drill permit', 'Drilling days', 'Drilling facility category', 'Drilling facility type', 'Entry year', 'Final vertical depth (TVD) [m RKB]', 'Intent - planned', 'Kick off point [m RKB]', 'Licensing activity awarded in', 'Maximum inclination [°]', 'Multilateral', 'NPDID discovery', 'NPDID drilling facility', 'NPDID field', 'NPDID production facility', 'NPDID production licence drilled in', 'NPDID production licence target', 'NPDID site survey', 'NPDID wellbore', 'NPDID wellbore reclassified from', 'Oldest penetrated age', 'Oldest penetrated formation', 'Plugged and abondon date', 'Plugged date', 'Predrilled completion date', 'Predrilled entry date', 'Prod. licence for drilling target', 'Production facility', 'Publication date', 'Reclassified date', 'Reclassified from/to wellbore', 'Reentry', 'Reentry activity', 'Release date', 'Sitesurvey', 'Subsea', 'Type', 'UTM zone', 'Well content', 'Well status']

In [30]:
# If you have database administration privileges, you can use this cell 
# to generate the SQL Query code that will create Well Attributes in IC in the format:
    
    #INSERT INTO t_WellsUserFields (f_FieldId, f_FieldName, f_IsInputUsed, f_InputID, f_Description, f_Origin, f_SortOrder)
        #VALUES (1, 'Attribute', 'False', 0, 'Description of attribute', 0, 1);

        # This assumes you have no yet created any Well Attributes in IC. 
        # If you have already, you'll need to tweak the 3 variables below.

pk_index = 0 #Enter one less than your highest pk_index
original_pk_index = 0 #Enter the same number as above (this one we won't change)
f_sortorder = 0 #Enter the next appropriate f_sortorder

print("INSERT INTO t_WellsUserFields")
print("  (f_FieldId, f_FieldName, f_IsInputUsed, f_InputID, f_Description, f_Origin, f_SortOrder)")
print("VALUES")

for i in non_default_attributes:
    pk_index += 1
    f_sortorder += 1
    if pk_index < (num_non_default_attributes + original_pk_index):
        print("  ({x}, '{y}', 'False', 0, 'Userfield {y}', 0, {z}),".format(x = pk_index, y = i, z = f_sortorder))
    else:
        print("  ({x}, '{y}', 'False', 0, 'Userfield {y}', 0, {z});".format(x = pk_index, y = i, z = f_sortorder))

# Follow these steps:
    # 1. Open your IC database in SQL Server Management Studio. IC must be closed/computer restarted to open a LocalDB in SSMS.
    # 2. Expand 'Tables', scroll down to 't_WellsUserFields' and right-click 'Edit Top 200 Rows'.
    # 3. Press Ctrl+N to create a new query, copy and paste the following SQL code to the blank query and hit F5.

INSERT INTO t_WellsUserFields
  (f_FieldId, f_FieldName, f_IsInputUsed, f_InputID, f_Description, f_Origin, f_SortOrder)
VALUES
  (1, '1st level with HC age', 'False', 0, 'Userfield 1st level with HC age', 0, 1),
  (2, '1st level with HC formation', 'False', 0, 'Userfield 1st level with HC formation', 0, 2),
  (3, '2nd level with HC age', 'False', 0, 'Userfield 2nd level with HC age', 0, 3),
  (4, '2nd level with HC formation', 'False', 0, 'Userfield 2nd level with HC formation', 0, 4),
  (5, '3rd level with HC age', 'False', 0, 'Userfield 3rd level with HC age', 0, 5),
  (6, '3rd level with HC formation', 'False', 0, 'Userfield 3rd level with HC formation', 0, 6),
  (7, 'Bottom hole temperature [°C]', 'False', 0, 'Userfield Bottom hole temperature [°C]', 0, 7),
  (8, 'Completed year', 'False', 0, 'Userfield Completed year', 0, 8),
  (9, 'Content - planned', 'False', 0, 'Userfield Content - planned', 0, 9),
  (10, 'DISKOS Well Type', 'False', 0, 'Userfield DISKOS Well Type', 0, 10),
  (11, 'DISKOS Wellbore Parent', 'False', 0, 'Userfield DISKOS Wellbore Parent', 0, 11),
  (12, 'Date all updated', 'False', 0, 'Userfield Date all updated', 0, 12),
  (13, 'Date main level updated', 'False', 0, 'Userfield Date main level updated', 0, 13),
  (14, 'Date sync NPD', 'False', 0, 'Userfield Date sync NPD', 0, 14),
  (15, 'Discovery wellbore', 'False', 0, 'Userfield Discovery wellbore', 0, 15),
  (16, 'Drill permit', 'False', 0, 'Userfield Drill permit', 0, 16),
  (17, 'Drilling days', 'False', 0, 'Userfield Drilling days', 0, 17),
  (18, 'Drilling facility category', 'False', 0, 'Userfield Drilling facility category', 0, 18),
  (19, 'Drilling facility type', 'False', 0, 'Userfield Drilling facility type', 0, 19),
  (20, 'Entry year', 'False', 0, 'Userfield Entry year', 0, 20),
  (21, 'Final vertical depth (TVD) [m RKB]', 'False', 0, 'Userfield Final vertical depth (TVD) [m RKB]', 0, 21),
  (22, 'Intent - planned', 'False', 0, 'Userfield Intent - planned', 0, 22),
  (23, 'Kick off point [m RKB]', 'False', 0, 'Userfield Kick off point [m RKB]', 0, 23),
  (24, 'Licensing activity awarded in', 'False', 0, 'Userfield Licensing activity awarded in', 0, 24),
  (25, 'Maximum inclination [°]', 'False', 0, 'Userfield Maximum inclination [°]', 0, 25),
  (26, 'Multilateral', 'False', 0, 'Userfield Multilateral', 0, 26),
  (27, 'NPDID discovery', 'False', 0, 'Userfield NPDID discovery', 0, 27),
  (28, 'NPDID drilling facility', 'False', 0, 'Userfield NPDID drilling facility', 0, 28),
  (29, 'NPDID field', 'False', 0, 'Userfield NPDID field', 0, 29),
  (30, 'NPDID production facility', 'False', 0, 'Userfield NPDID production facility', 0, 30),
  (31, 'NPDID production licence drilled in', 'False', 0, 'Userfield NPDID production licence drilled in', 0, 31),
  (32, 'NPDID production licence target', 'False', 0, 'Userfield NPDID production licence target', 0, 32),
  (33, 'NPDID site survey', 'False', 0, 'Userfield NPDID site survey', 0, 33),
  (34, 'NPDID wellbore', 'False', 0, 'Userfield NPDID wellbore', 0, 34),
  (35, 'NPDID wellbore reclassified from', 'False', 0, 'Userfield NPDID wellbore reclassified from', 0, 35),
  (36, 'Oldest penetrated age', 'False', 0, 'Userfield Oldest penetrated age', 0, 36),
  (37, 'Oldest penetrated formation', 'False', 0, 'Userfield Oldest penetrated formation', 0, 37),
  (38, 'Plugged and abondon date', 'False', 0, 'Userfield Plugged and abondon date', 0, 38),
  (39, 'Plugged date', 'False', 0, 'Userfield Plugged date', 0, 39),
  (40, 'Predrilled completion date', 'False', 0, 'Userfield Predrilled completion date', 0, 40),
  (41, 'Predrilled entry date', 'False', 0, 'Userfield Predrilled entry date', 0, 41),
  (42, 'Prod. licence for drilling target', 'False', 0, 'Userfield Prod. licence for drilling target', 0, 42),
  (43, 'Production facility', 'False', 0, 'Userfield Production facility', 0, 43),
  (44, 'Publication date', 'False', 0, 'Userfield Publication date', 0, 44),
  (45, 'Reclassified date', 'False', 0, 'Userfield Reclassified date', 0, 45),
  (46, 'Reclassified from/to wellbore', 'False', 0, 'Userfield Reclassified from/to wellbore', 0, 46),
  (47, 'Reentry', 'False', 0, 'Userfield Reentry', 0, 47),
  (48, 'Reentry activity', 'False', 0, 'Userfield Reentry activity', 0, 48),
  (49, 'Release date', 'False', 0, 'Userfield Release date', 0, 49),
  (50, 'Sitesurvey', 'False', 0, 'Userfield Sitesurvey', 0, 50),
  (51, 'Subsea', 'False', 0, 'Userfield Subsea', 0, 51),
  (52, 'Type', 'False', 0, 'Userfield Type', 0, 52),
  (53, 'UTM zone', 'False', 0, 'Userfield UTM zone', 0, 53),
  (54, 'Well content', 'False', 0, 'Userfield Well content', 0, 54),
  (55, 'Well status', 'False', 0, 'Userfield Well status', 0, 55);

### Install correct co-ordinate systems to IC database

In [31]:
# In IC, open Project > Properties > Coords > Coordinate Systems
# Ensure each of the following co-ordinate system are installed **before importing well headers**
# Or use the cell below to write to file

lst_geodatum = sorted(set(df_oga['Geodatum'].astype(str)))
print('Geodatum:', ', '.join(lst_geodatum))

lst_gridsystem = sorted(set(df_oga['Grid system'].astype(str)))
print('Grid systems:', ', '.join(lst_gridsystem))

Geodatum: ED50
Grid systems: ED50 / UTM zone 31N, ED50 / UTM zone 32N, ED50 / UTM zone 33N, ED50 / UTM zone 34N, ED50 / UTM zone 35N, ED50 / UTM zone 36N, ED50 / UTM zone 37N

In [32]:
# Write Norwegian UTM Zones to Projections.def
# Note that Projections.def already contains geodatum ED50.

f = open(dbdir + '\Support\Projections.def', 'w+')

f.write('''# ED50
<4230> +proj=longlat +ellps=intl +no_defs <>
# ED50 / UTM zone 31N
<23031> +proj=utm +zone=31 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 32N
<23032> +proj=utm +zone=32 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 33N
<23033> +proj=utm +zone=33 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 34N
<23034> +proj=utm +zone=34 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 35N
<23035> +proj=utm +zone=35 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 36N
<23036> +proj=utm +zone=36 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 37N
<23037> +proj=utm +zone=37 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
''')

f.seek(0)
contents = f.read()
print(contents)

f.close()

# ED50
<4230> +proj=longlat +ellps=intl +no_defs <>
# ED50 / UTM zone 31N
<23031> +proj=utm +zone=31 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 32N
<23032> +proj=utm +zone=32 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 33N
<23033> +proj=utm +zone=33 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 34N
<23034> +proj=utm +zone=34 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 35N
<23035> +proj=utm +zone=35 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 36N
<23036> +proj=utm +zone=36 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 37N
<23037> +proj=utm +zone=37 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>

### Import the data to IC

In [33]:
# Before importing data to IC, ensure you have followed the last few steps to:
# - Create the appropriate Well Attributes in your IC Database.
# - Add the correct coordinate systems to your IC Project.

# Import reference files via Import > Well References
# Import well headers via Import > Headers.

# Note that, while the well header data imports very quickly, IC is a bit slow to create the wells if they don't already exist. Patience!