# autobuildicdb NPD - DST

<h3>Drill stem tests</h3>

In [98]:
#df_dst = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_dst&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')

df_dst = pd.read_excel('input data/wellbore_dst.xlsx', sheet_name='wellbore_dst')

In [99]:
print(df_dst.shape)
df_dst.head(20)

(1167, 17)

   Wellbore  Test number  From depth MD [m]  To depth MD [m]  Choke size [mm]  Final shut-in pressure [MPa]  Final flow pressure [MPa]  Bottom hole pressure [MPa]  Oil [Sm3/day]  Gas [Sm3/day]  Oil density [g/cm3]  Gas grav. rel.air  GOR [m3/m3]  Downhole temperature [Â°C]  NPDID wellbore Date updated Date sync NPD
0     1/2-1          1.0             3122.3           3137.0             25.4                           0.0                        0.0                         0.0            859          57000                0.810              0.000           66                          0            1382   2016-05-19    09.02.2020
1     1/3-1          1.0             4585.0           4602.0             12.5                          80.0                       61.0                         0.0              0           1132                0.000              0.000            0                          0             154   2016-05-19    09.02.2020
2     1/3-1          2.0             4565.0           4602.0             12.5                          52.0                       40.0                         0.0              0           6626                0.000              0.000            0                          0             154   2016-05-19    09.02.2020
3     1/3-1          3.0             3356.0           3361.0             12.5                          70.0                       50.0                         0.0              0          28317                0.000              0.000            0                          0             154   2016-05-19    09.02.2020
4    1/3-10          1.0             3158.0           3288.0             19.0                           9.0                        0.0                        38.0            457         212453                0.791              0.855          465                          0            5614   2016-05-19    09.02.2020
5     1/3-3          1.0             4529.0           4552.0             25.4                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0              87   2016-05-19    09.02.2020
6     1/3-3          2.0             4233.0           4240.0              9.5                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0              87   2016-05-19    09.02.2020
7     1/3-3          3.1             4202.0           4208.0             50.8                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0              87   2016-05-19    09.02.2020
8     1/3-3          3.3             4211.0           4214.0              6.4                           0.0                        0.0                         0.0            143          28000                0.829              0.820          196                        165              87   2016-05-19    09.02.2020
9     1/3-6          1.0             2960.5           2977.0             17.5                           0.0                        3.0                         0.0             78          93300                0.780              0.780         1196                        107            1521   2016-05-19    09.02.2020
10    1/3-6          2.0             2913.0           2953.0             15.8                           0.0                        6.8                         0.0            153         172500                0.771              0.735         1131                        112            1521   2016-05-19    09.02.2020
11    1/3-7          1.1             3183.5           3215.5             12.5                           0.0                       30.0                         0.0             49          16783                0.806              0.000          364                        119            2505   2016-05-19    09.02.2020
12    1/3-7          2.0             3183.5           3220.0             12.5                           0.0                       40.0                        41.0            137          37762                0.790              0.000          281                        126            2505   2016-05-19    09.02.2020
13    1/5-2          1.0             3338.0           3363.0              0.0                           0.0                        0.0                         0.0              5              0                0.870              0.000            0                          0             238   2016-05-19    09.02.2020
14    1/5-2          2.0             3152.0           3174.0             21.4                           0.0                        0.0                         0.0            500         180662                0.810              0.000          361                          0             238   2016-05-19    09.02.2020
15    1/5-2          3.0             3076.0           3103.0              0.0                           0.0                        0.0                         0.0             15              0                0.000              0.000            0                          0             238   2016-05-19    09.02.2020
16    1/5-2          4.0             2832.0           2841.0              0.0                           0.0                        0.0                         0.0             37          16707                0.820              0.000          456                          0             238   2016-05-19    09.02.2020
17    1/6-1          1.0             3820.0           3833.0              0.0                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0             239   2016-05-19    09.02.2020
18    1/6-1          2.0             3621.0           3633.0             12.0                           0.0                        0.0                         0.0             32          16980                0.832              0.000            0                          0             239   2016-05-19    09.02.2020
19    1/6-1          3.0             3271.0           3280.0             25.4                           0.0                        0.0                         0.0            352         466893                0.794              0.690            0                          0             239   2016-05-19    09.02.2020

In [100]:
df_dst.isna().sum()

Wellbore                        0
Test number                     0
From depth MD [m]               0
To depth MD [m]                 0
Choke size [mm]                 0
Final shut-in pressure [MPa]    0
Final flow pressure [MPa]       0
Bottom hole pressure [MPa]      0
Oil [Sm3/day]                   0
Gas [Sm3/day]                   0
Oil density [g/cm3]             0
Gas grav. rel.air               0
GOR [m3/m3]                     0
Downhole temperature [Â°C]       0
NPDID wellbore                  0
Date updated                    0
Date sync NPD                   0
dtype: int64

In [101]:
df_dst.drop(labels=['NPDID wellbore', 'Date updated', 'Date sync NPD'], axis=1, inplace=True)

In [102]:
df_dst.columns

Index(['Wellbore', 'Test number', 'From depth MD [m]', 'To depth MD [m]',
       'Choke size [mm]', 'Final shut-in pressure [MPa]',
       'Final flow pressure [MPa]', 'Bottom hole pressure [MPa]',
       'Oil [Sm3/day]', 'Gas [Sm3/day]', 'Oil density [g/cm3]',
       'Gas grav. rel.air', 'GOR [m3/m3]', 'Downhole temperature [Â°C]'],
      dtype='object')

In [103]:
#Rename well header columns to match dbo.WELLS (does capitalisation matter?)
rename_cols = {'Wellbore' : 'Well',
               'From depth MD [m]' : 'Top depth',
               'To depth MD [m]' : 'Base depth'
               }
    
#Apply renaming
df_dst.rename(columns=rename_cols, inplace=True)
df_dst.head(20)

      Well  Test number  Top depth  Base depth  Choke size [mm]  Final shut-in pressure [MPa]  Final flow pressure [MPa]  Bottom hole pressure [MPa]  Oil [Sm3/day]  Gas [Sm3/day]  Oil density [g/cm3]  Gas grav. rel.air  GOR [m3/m3]  Downhole temperature [Â°C]
0    1/2-1          1.0     3122.3      3137.0             25.4                           0.0                        0.0                         0.0            859          57000                0.810              0.000           66                          0
1    1/3-1          1.0     4585.0      4602.0             12.5                          80.0                       61.0                         0.0              0           1132                0.000              0.000            0                          0
2    1/3-1          2.0     4565.0      4602.0             12.5                          52.0                       40.0                         0.0              0           6626                0.000              0.000            0                          0
3    1/3-1          3.0     3356.0      3361.0             12.5                          70.0                       50.0                         0.0              0          28317                0.000              0.000            0                          0
4   1/3-10          1.0     3158.0      3288.0             19.0                           9.0                        0.0                        38.0            457         212453                0.791              0.855          465                          0
5    1/3-3          1.0     4529.0      4552.0             25.4                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0
6    1/3-3          2.0     4233.0      4240.0              9.5                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0
7    1/3-3          3.1     4202.0      4208.0             50.8                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0
8    1/3-3          3.3     4211.0      4214.0              6.4                           0.0                        0.0                         0.0            143          28000                0.829              0.820          196                        165
9    1/3-6          1.0     2960.5      2977.0             17.5                           0.0                        3.0                         0.0             78          93300                0.780              0.780         1196                        107
10   1/3-6          2.0     2913.0      2953.0             15.8                           0.0                        6.8                         0.0            153         172500                0.771              0.735         1131                        112
11   1/3-7          1.1     3183.5      3215.5             12.5                           0.0                       30.0                         0.0             49          16783                0.806              0.000          364                        119
12   1/3-7          2.0     3183.5      3220.0             12.5                           0.0                       40.0                        41.0            137          37762                0.790              0.000          281                        126
13   1/5-2          1.0     3338.0      3363.0              0.0                           0.0                        0.0                         0.0              5              0                0.870              0.000            0                          0
14   1/5-2          2.0     3152.0      3174.0             21.4                           0.0                        0.0                         0.0            500         180662                0.810              0.000          361                          0
15   1/5-2          3.0     3076.0      3103.0              0.0                           0.0                        0.0                         0.0             15              0                0.000              0.000            0                          0
16   1/5-2          4.0     2832.0      2841.0              0.0                           0.0                        0.0                         0.0             37          16707                0.820              0.000          456                          0
17   1/6-1          1.0     3820.0      3833.0              0.0                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0
18   1/6-1          2.0     3621.0      3633.0             12.0                           0.0                        0.0                         0.0             32          16980                0.832              0.000            0                          0
19   1/6-1          3.0     3271.0      3280.0             25.4                           0.0                        0.0                         0.0            352         466893                0.794              0.690            0                          0

In [104]:
# Output to file
file = 'output data/wellbore_dst.csv'
df_dst.to_csv(file, index=False)

# Check output
pd.read_csv(file).head(2)

    Well  Test number  Top depth  Base depth  Choke size [mm]  Final shut-in pressure [MPa]  Final flow pressure [MPa]  Bottom hole pressure [MPa]  Oil [Sm3/day]  Gas [Sm3/day]  Oil density [g/cm3]  Gas grav. rel.air  GOR [m3/m3]  Downhole temperature [Â°C]
0  1/2-1          1.0     3122.3      3137.0             25.4                           0.0                        0.0                         0.0            859          57000                 0.81                0.0           66                          0
1  1/3-1          1.0     4585.0      4602.0             12.5                          80.0                       61.0                         0.0              0           1132                 0.00                0.0            0                          0

In [105]:
# Note overlapping depths in DST data
# For example in well 1/9-1

filt = df_dst['Well'] == '1/9-1'
df_dst[['Well', 'Top depth', 'Base depth']][filt]

     Well  Top depth  Base depth
23  1/9-1     3298.0      3310.0
24  1/9-1     3210.0      3220.0
25  1/9-1     3174.0      3182.0
26  1/9-1     3148.0      3157.0
27  1/9-1     3120.0      3133.0
28  1/9-1     3129.0      3133.0
29  1/9-1     3105.0      3109.0
30  1/9-1     3082.0      3088.0
31  1/9-1     3055.0      3068.0
32  1/9-1     3055.0      3068.0

In [106]:
# Calculate overlap in Drill Stem Tests
# Zero overlap for first test in each well, no negative overlaps (representing gaps)
# Iterate over DataFrame rows as (index, Series) pairs.

for index, row in df_dst[1:].iterrows():
    
    current_row = df_dst.loc[index]
    last_row = df_dst.iloc[df_dst.index.get_loc(index) - 1]
    
    # Zero overlap for first test in each well
    if current_row['Well'] != last_row['Well']:
        df_dst.loc[index, 'Overlap'] = 0
    
    else:
        # Difference between base of last row and top of current row
        if current_row['Top depth'] < last_row['Base depth']:
            df_dst.loc[index, 'Overlap'] = last_row['Base depth'] - current_row['Top depth']
        else:
            df_dst.loc[index, 'Overlap'] = 0 

df_dst_overlap = df_dst[['Well', 'Test number', 'Top depth', 'Base depth', 'Overlap']].round(1)

# Output to file
file = "output data/calc_dst_overlap.xlsx"
df_dst_overlap.to_excel(file, index=False)
pd.read_excel(file).head(20)

      Well  Test number  Top depth  Base depth  Overlap
0    1/2-1          1.0     3122.3      3137.0      NaN
1    1/3-1          1.0     4585.0      4602.0      0.0
2    1/3-1          2.0     4565.0      4602.0     37.0
3    1/3-1          3.0     3356.0      3361.0   1246.0
4   1/3-10          1.0     3158.0      3288.0      0.0
5    1/3-3          1.0     4529.0      4552.0      0.0
6    1/3-3          2.0     4233.0      4240.0    319.0
7    1/3-3          3.1     4202.0      4208.0     38.0
8    1/3-3          3.3     4211.0      4214.0      0.0
9    1/3-6          1.0     2960.5      2977.0      0.0
10   1/3-6          2.0     2913.0      2953.0     64.0
11   1/3-7          1.1     3183.5      3215.5      0.0
12   1/3-7          2.0     3183.5      3220.0     32.0
13   1/5-2          1.0     3338.0      3363.0      0.0
14   1/5-2          2.0     3152.0      3174.0    211.0
15   1/5-2          3.0     3076.0      3103.0     98.0
16   1/5-2          4.0     2832.0      2841.0    271.0
17   1/6-1          1.0     3820.0      3833.0      0.0
18   1/6-1          2.0     3621.0      3633.0    212.0
19   1/6-1          3.0     3271.0      3280.0    362.0